@charset "utf-8";
/* CSS Document */

/*
font-family:'Arvo', serif;
font-family:'Open Sans', sans-serif;
*/


@font-face {
    font-family: 'hamburgerheavenregular';
    src: url('webfontkit-20180321-110601/hambh___-webfont.woff2') format('woff2'),
         url('webfontkit-20180321-110601/hambh___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html { font-size:62.5%; }
/**
 * --------------------------------------------------
 * STYLE GENERAL
 * --------------------------------------------------
**/
*,*::before,*::after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    -ms-background-clip:padding-box;
    -o-background-clip:padding-box;
    background-clip:padding-box;
}
:hover,:focus,:active { outline:none; }
/* --------------------------- */



/**
 * --------------------------------------------------
 * BALISES
 * --------------------------------------------------
**/
/* ------    générales    ------ */
body {
    background:#9a9899;
    cursor:default;
    font-family:'hamburgerheavenregular';
    margin:0;
    height:100vh;
    max-width:100%;
}

p { margin:0 0 30px 0;margin:0 0 3rem 0; }
strong { font-weight:700; }
em { font-style:italic; }
/* figure {
    line-height:1;
    margin:0;
    padding:0;
    position:relative;
} */
    figure > img {
        height:auto !important;
        max-width:100%;
    }
a { display:inline-block; }
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
    white-space:nowrap;
}

/* ------    Grid layout  ------ */

.grid-container {
    display:grid;
    grid-template-columns: 2fr 9fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 4fr 3fr;
    height:100vh;
    max-width:100%;
    
}
/* ------    Colum 1  ------ */

.menu{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   padding: 20px;
    
}

.historique{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hansHerosActif{
    grid-area: 3/1/6/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/hansActif.png) left bottom no-repeat;
    background-size: 80% auto;
    position: relative;
}

.burgerHerosActif{
    grid-area: 3/1/6/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/burgerActif.png) left bottom no-repeat;
    background-size: 80% auto;
    position: relative;
}

.pictoVieHerosActif {
  position:absolute ;right:75px; bottom:370px;
  z-index: 99;
  font-size:8em;
  color:white;
}
/* ------    Colum 2    ------ */

.burgerHerosInactif{
    grid-area: 1/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(images/burgerInactif.png) center top no-repeat;
    background-size: 50% auto;
}

.hansHerosInactif{
    grid-area: 1/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(images/hansInactif.png) center top no-repeat;
    background-size: 50% auto;
}

.pictoVieHerosInactif {
  position:absolute ;right:1025px; bottom:895px;
  z-index: 99;
  font-size:4.5em;
  color:#9a9899;
}

.deckHerosInactif{
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deckHerosActif{
    grid-area: 4/2/5/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainHerosActif{
    grid-area: 5/2/6/3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position:relative;
}

.carteAttente {
    height:250px;
    margin:1px 5px;
    position:relative ;
    z-index: 1;
    font-size: 1.5em;
    color:white;
    text-align: center;
 }

.pictocout {
    position:absolute ;left:19px;top:10px;
    z-index: 99;
}

.pictoattaque {
    position:absolute ;left:19px;top:38px;
    z-index: 99;
}

 .pictovie {
  position:absolute ;left:19px;top:62px;
  z-index: 99;
}

.carteCombat {
    height:250px;
    margin:1px 5px;
    position:relative ;
    z-index: 1;
    border: 2px solid yellow;
    font-size: 1.5em;
    color:white;
    text-align: center;
 }
.carteMain {
    height:200px;
    margin:1px 5px;
    z-index: 1;
    font-size: 1.3em;
    color:white;
    text-align:left;
    transition-duration: 1s;
 }
.carteMain:nth-child(1) {
   position: absolute;right:110px;bottom:-10px;
   position:relative ;
   z-index: 1;
}

.carteMain:nth-child(2) {
    position: absolute; right:220px;bottom:-10px;
    position:relative ;
    z-index: 2;
 }
 .carteMain:nth-child(3) {
    position: absolute; right:330px;bottom:-10px;
    position:relative ;
    z-index: 3;
 }
 .carteMain:nth-child(4) {
    position: absolute; right:440px;bottom:-10px;
    position:relative ;
    z-index: 4;
 }
  .carteMain:nth-child(5) {
    position: absolute; right:550px;bottom:-10px;
    position:relative ;
    z-index: 5;
 }
  .carteMain:nth-child(6) {
    position: absolute; right:660px;bottom:-10px;
    position:relative ;
    z-index: 6;
 }
  .carteMain:nth-child(7) {
    position: absolute; right:770px;bottom:-10px;
    position:relative ;
    z-index: 7;
 }
  .carteMain:nth-child(8) {
    position: absolute; right:880px;bottom:-10px;
    position:relative ;
    z-index: 8;
 }
  .carteMain:nth-child(9) {
    position: absolute; right:990px;bottom:-10px;
    position:relative ;
    z-index:9;
 }
  .carteMain:nth-child(10) {
    position: absolute; right:1100px;bottom:-10px;
    position:relative ;
    z-index: 10;
 }
 .carteMain:hover {
    /* transform:scale(1.5,1.5); */
    transform:translateY(-20px);
    z-index: 99;
}

.pictocoutmain {
    position:absolute ;right:230px;top:18px;
    z-index: 999;
}


.pictoattaquemain {
    position:absolute ;right:230px;top:42px;
    z-index: 999;
}

 .pictoviemain {
  position:absolute ;right:230px;top:60px;
  z-index: 999;
}
/* ------    aside Droite   ------ */

.finTour{
    grid-area: 1/3/4/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   
}

.cagnotte{
    grid-area: 4/3/6/4;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    background: url(images/cagnotte.png) center bottom no-repeat;
    background-size: 70% auto;
    position: relative;
}

.pictocagnotte {
    position:absolute ;right:120px;top:260px;
    z-index: 99;
    font-size:4em;
    color:white;
}

.pictonbtour {
    position:absolute ;left:125px;top:260px;
    z-index: 99;
    font-size:4em;
    color:black;
}

.piocheHerosInactif{
    grid-area: 1/4/4/5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(images/piocheHerosInactif.png) center bottom no-repeat;
    background-size: 40% auto;
    margin-bottom: 90px;
}
.piocheHerosActif{
    grid-area: 4/4/6/5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(images/piocheHerosActif.png) center top no-repeat;
    background-size: 40% auto;
     margin-top: 90px;
}






